{{body}}


<h1>Search Page</h1>

<div class="searchpage">
    <form action="/search" , method="GET">
        <label for="site-search">Search for titles:</label>
        <input type="search" id="site-search" name="search" aria-label="Search through site content">
        <button id="searchbutton">Search</button>
    </form>
</div>